<a href="https://colab.research.google.com/github/vinayaka16041999/Data-Science-ML-Projects/blob/master/HotelBooking_CaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# End-to-End ML

## Table of Contents


*   Data Description
*   Handling Missing Values
*   Handling Wrong Data
*Encoding the Categorical Columns (Label Encoding)
*Detecting and Removing Outliers using Isolation Forest Algorithm
*Feature Engineering using Boruta
*OneHotEncoding the Categorical Columns
*Normalizing the Numerical Columns to Common Range

In [1]:
import pandas as pd
import numpy as np
import seaborn as snb
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

## Data Description

In [2]:
df = pd.read_csv(r'/content/hotel_bookings.csv')
df.shape

(119390, 32)

In [3]:
df.head(10)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out                 7/1/2015
1  Resort Hotel            0  ...           Check-Out                 7/1/2015
2  Resort Hotel            0  ...           Check-Out                 7/2/2015
3  Resort Hotel            0  ...           Check-Out                 7/2/2015
4  Resort Hotel            0  ...           Check-Out                 7/3/2015
5  Resort Hotel            0  ...           Check-Out                 7/3/2015
6  Resort Hotel            0  ...           Check-Out                 7/3/2015
7  Resort Hotel            0  ...           Check-Out                 7/3/2015
8  Resort Hotel            1  ...            Canceled                 5/6/2015
9  Resort Hotel            1  ...            Canceled                4/22/2015

[10 rows x 32 columns]

In [23]:
df.describe()

         is_canceled  ...  total_of_special_requests
count  119390.000000  ...              119390.000000
mean        0.370416  ...                   0.571363
std         0.482918  ...                   0.792798
min         0.000000  ...                   0.000000
25%         0.000000  ...                   0.000000
50%         0.000000  ...                   0.000000
75%         1.000000  ...                   1.000000
max         1.000000  ...                   5.000000

[8 rows x 16 columns]

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   stays_in_weekend_nights         119390 non-null  int64
 4   stays_in_week_nights            119390 non-null  int64
 5   adults                          119390 non-null  int64
 6   children                        119390 non-null  float64
 7   babies                          119390 non-null  int64
 8   meal                            119390 non-null  object
 9   country                         119390 non-null  object
 10  market_segment                  119390 non-null  object
 11  distribution_channel            119390 non-null  object
 12  is_repeated_guest               119390 non-null  int64
 13  previous_cancellations          119390 non-null  int64
 14  previous_bookings_not_canceled  119390 non-null  int64
 15  reserved_room_type              119390 non-null  object
 16  assigned_room_type              119390 non-null  object
 17  booking_changes                 119390 non-null  int64
 18  deposit_type                    119390 non-null  object
 19  agent                           119390 non-null  float64
 20  days_in_waiting_list            119390 non-null  int64
 21  customer_type                   119390 non-null  object
 22  adr                             119390 non-null  float64
 23  required_car_parking_spaces     119390 non-null  int64
 24  total_of_special_requests       119390 non-null  int64
 25  reservation_status              119390 non-null  object
dtypes: float64(3), int64(13), object(10)
memory usage: 23.7+ MB

## Handling Missing Values

In [4]:
df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [5]:
def handle_missing():
  temp = df
  temp.drop(columns=['company','arrival_date_year','arrival_date_month','arrival_date_week_number','arrival_date_day_of_month','reservation_status_date'],inplace=True)
  for col in temp.columns:
    if temp[col].isnull().sum()>0:
      temp.fillna(temp[col].median(),inplace=True)
  return temp

In [6]:
missing_dataless_df = handle_missing()
missing_dataless_df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
dtype: int64

## Handle Wrong Data

In [7]:
def handle_wrong_data():
  temp = missing_dataless_df
  temp = temp[~((temp['children']==0) & (temp['adults']==0) & (temp['babies']==0))]
  return temp

In [8]:
corrected_data_df = handle_wrong_data()
corrected_data_df

               hotel  is_canceled  ...  total_of_special_requests  reservation_status
0       Resort Hotel            0  ...                          0           Check-Out
1       Resort Hotel            0  ...                          0           Check-Out
2       Resort Hotel            0  ...                          0           Check-Out
3       Resort Hotel            0  ...                          0           Check-Out
4       Resort Hotel            0  ...                          1           Check-Out
...              ...          ...  ...                        ...                 ...
119385    City Hotel            0  ...                          0           Check-Out
119386    City Hotel            0  ...                          2           Check-Out
119387    City Hotel            0  ...                          4           Check-Out
119388    City Hotel            0  ...                          0           Check-Out
119389    City Hotel            0  ...                          2           Check-Out

[119210 rows x 26 columns]

## Encoding the Categorical Columns (Label Encoding)

In [9]:
from sklearn.preprocessing import LabelEncoder
cat_list = corrected_data_df.select_dtypes(include= ['object']).columns.tolist()
le = LabelEncoder()
label_encoded_df = corrected_data_df.copy()
for col in label_encoded_df.columns:
  if col in cat_list:
    label_encoded_df[col] = label_encoded_df[col].astype('category')
label_encoded_df[cat_list] = label_encoded_df[cat_list].apply(lambda x: x.cat.codes)
label_encoded_df.head()

   hotel  is_canceled  ...  total_of_special_requests  reservation_status
0      1            0  ...                          0                   1
1      1            0  ...                          0                   1
2      1            0  ...                          0                   1
3      1            0  ...                          0                   1
4      1            0  ...                          1                   1

[5 rows x 26 columns]

## Detecting and Removing Outliers using Isolation Forest Algorithm

In [10]:
from sklearn.ensemble import IsolationForest
out_detect = IsolationForest(max_samples=100, random_state=4, contamination='auto')
outlier = out_detect.fit_predict(label_encoded_df)
outlier_removed_df = label_encoded_df[np.where(outlier == 1, True, False)]

In [11]:
outlier_removed_df.shape

(102639, 26)

In [12]:
label_encoded_df.shape

(119210, 26)

In [13]:
y = outlier_removed_df['is_canceled']
x = outlier_removed_df.drop(columns='is_canceled')

## Feature Engineering using Boruta

In [14]:
!pip install Boruta
from sklearn.ensemble import RandomForestClassifier
from boruta import BorutaPy

Requirement already satisfied: Boruta in /usr/local/lib/python3.7/dist-packages (0.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from Boruta) (1.19.5)
Requirement already satisfied: scikit-learn>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from Boruta) (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from Boruta) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.17.1->Boruta) (1.0.1)

In [15]:
selector = BorutaPy(RandomForestClassifier(),n_estimators='auto',verbose=2,random_state=2)
selector.fit(np.array(x),np.array(y))

Iteration: 	1 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	2 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	3 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	4 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	5 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	6 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	7 / 100
Confirmed: 	0
Tentative: 	25
Rejected: 	0
Iteration: 	8 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	9 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	10 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	11 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	12 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	13 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	14 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	15 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	16 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	17 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	18 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	19 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	20 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	21 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	22 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	23 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	24 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	25 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	26 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	27 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	28 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	29 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	30 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	31 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	32 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	33 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	34 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	35 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	36 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	37 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	38 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	39 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	40 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	41 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	42 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	43 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	44 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	45 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	46 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	47 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	48 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	49 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	50 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	51 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	52 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	53 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	54 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	55 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	56 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	57 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	58 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	59 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	60 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	61 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	62 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	63 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	64 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	65 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	66 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	67 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	68 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	69 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	70 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	71 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	72 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	73 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	74 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	75 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	76 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	77 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	78 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	79 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	80 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	81 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	82 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	83 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	84 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	85 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	86 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	87 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	88 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	89 / 100
Confirmed: 	16
Tentative: 	1
Rejected: 	8
Iteration: 	90 / 100
Confirmed: 	16
Tentative: 	0
Rejected: 	9


BorutaPy finished running.

Iteration: 	91 / 100
Confirmed: 	16
Tentative: 	0
Rejected: 	9

BorutaPy(alpha=0.05,
         estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                          class_weight=None, criterion='gini',
                                          max_depth=None, max_features='auto',
                                          max_leaf_nodes=None, max_samples=None,
                                          min_impurity_decrease=0.0,
                                          min_impurity_split=None,
                                          min_samples_leaf=1,
                                          min_samples_split=2,
                                          min_weight_fraction_leaf=0.0,
                                          n_estimators=58, n_jobs=None,
                                          oob_score=False,
                                          random_state=RandomState(MT19937) at 0x7F3C18DFAE20,
                                          verbose=0, warm_start=False),
         max_iter=100, n_estimators='auto', perc=100,
         random_state=RandomState(MT19937) at 0x7F3C18DFAE20, two_step=True,
         verbose=2)

In [16]:
important_columns = np.array(x.columns)[np.array(selector.support_)]

In [17]:
tot = important_columns
cat = ['country','market_segment','distribution_channel','assigned_room_type','deposit_type','agent','customer_type','reservation_status']
num = list(set(tot).difference(set(cat)))
num = list(set(num).difference(['is_canceled']))

In [18]:
feature_engineered_df = outlier_removed_df[important_columns]

## OneHotEncoding the Categorical Columns

In [19]:
def get_onehotencode():
  temp = feature_engineered_df
  temp = pd.get_dummies(temp,columns=cat,drop_first=True)
  return temp

In [20]:
one_hot_encoded_df = get_onehotencode()
one_hot_encoded_df.head()

   hotel  lead_time  ...  reservation_status_1  reservation_status_2
2      1          7  ...                     1                     0
3      1         13  ...                     1                     0
4      1         14  ...                     1                     0
5      1         14  ...                     1                     0
6      1          0  ...                     1                     0

[5 rows x 512 columns]

## Normalizing the Numerical Columns to Common Range

In [21]:
from sklearn.preprocessing import StandardScaler
def scale_data():
  temp = one_hot_encoded_df
  sc = StandardScaler()
  temp[num] = sc.fit_transform(temp[num])
  return temp

In [22]:
scaled_df = scale_data()
scaled_df.head()

      hotel  lead_time  ...  reservation_status_1  reservation_status_2
2  1.633332  -0.915698  ...                     1                     0
3  1.633332  -0.859658  ...                     1                     0
4  1.633332  -0.850318  ...                     1                     0
5  1.633332  -0.850318  ...                     1                     0
6  1.633332  -0.981077  ...                     1                     0

[5 rows x 512 columns]